@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://db.onlinewebfonts.com/c/9da41c570d5a221cb2486d78769a076d?family=Helvetica+Neue+LTW0663MdExtObl');

@theme {
    --font-Nunito-sans: "Nunito Sans", sans-serif;
    --font-Helvetica-Neue: "Helvetica Neue", sans-serif;
}

body {
    @apply font-Helvetica-Neue;
}

.show-gradient {
    background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0) 30%), 
                linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0) 30%);
}